<h1>In change password</h1>


<div class = 'btn-danger' style='background:lightgrey;''>
	<%= form_tag("/update_password") do %>
	  <%= label_tag('update[old_password]', "Old Password") %> <br>
	  <%= password_field_tag('update[old_password]') %> <br>
	  <%= label_tag('update[password]', "Password") %> <br>
	  <%= password_field_tag('update[password]') %> <br>

	  <%= label_tag('update[password_confirmation]', "Confirm Password") %> <br>
	  <%= password_field_tag('update[password_confirmation]') %> <br>

	  <%= submit_tag "Update Password" %>
	<% end %>
	<br><br><br>
	<h3> <%= link_to "(Update Address and Personal Info Instead)", edit_user_path(current_user) %> </h3>
</div>