


	<div class = 'form col-md-5'>
			<h1>Edit your info!</h1>

		<%= form_for(@user) do |f| %>

		  <%= f.text_field :first_name %>
		  <%= f.text_field :last_name %>
		  <%= f.text_field :email %>
		  <%= f.text_field :street %>
		  <%= f.text_field :city %>
		  <%= f.text_field :state %>
		  <%= f.text_field :zip %>
		  <%= f.submit "Submit", class: 'btn btn-primary pull-right' %>

		<% end %>
		<br><br><br>
 
		<h4> <%= link_to "(Change Password Instead)", '/ch_password' %></h4>