<h1>Here is your IP info</h1>

<h3> <% unless request.remote_ip =='::1'%>
		You appear to be in: <%=request.location.city %> <br>
		<%=request.remote_ip%> <br>
		lattitude: <%=request.location.latitude %> <br>
		longitude: <%=request.location.longitude %> <br>

		<br> <br><br>
		<% gps_loc = "#{request.location.latitude}, #{request.location.longitude}" %>
		<% query = Geocoder.search(gps_loc).first %>
		Derived location from IP address: <% if query.methods.include?(:location)  %>
                                                  <%= query.location %>
                                          <% else %>
                                                  <%= "Not enough info to figure it out!" %>
                                          <% end %>

	<% end %>

</h3>






<a href="http://www.gastonkennedy.com:800">Sara's test site</a>